.logo{
    position: absolute;
    right: 0;
    // top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: auto;
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .answer-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img{
            height: 350px;
            width:  350px;
            object-fit: contain;
            cursor: pointer;
        }
    }
    .question-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 50vh;
        padding: 50px;
        justify-content: center;
        color: #edededed;
    }
    min-height: 100vh;
}

.score-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .user-data-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            padding: 5px 10px;
            width: 350px;
            margin: 5px 0;
            background-color: transparent;
            color: #dedede;
            border: 1px solid #198754;
            outline: none;
            border-radius: 4px;
        }
        input::placeholder{
            color: #dedede;
        }
        button{
            background-color: #198754;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 11px 33px;
        }
    }
}