.app-container {
  min-height: 100vh;
  height: auto;
  widows: 100vw;
  .backg {
    background: rgb(22, 26, 66);
    background: linear-gradient(
      0deg,
      rgba(22, 26, 66, 1) 15%,
      rgba(20, 24, 155, 1) 100%
    );
    height: 100%;
    width: 100%;
  }
}
